{% extends "base_generic.html" %}

{% block content %}


<section class="trebs_page">
	<div class="container">
		<div class="photo__title">
			Требы
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="trebs_content card">
					<h3>
						Заказать требы
					</h3>
					<p class="trebs__text">
						В виду особого распоряжения, богослужения во всех храмах г. Москвы будут совершаться только при участии клира храма, а также сотрудников присутствие которых необходимо. Сейчас, когда все наши прихожане находятся на самоизоляции, мы продолжаем совершать служение Богу. Для того, чтобы вы могли подать записки дистанционно предлагаем вам пройти по ссылке ниже. 
					</p>
					<div class="buy_trebs">
						
					</div>
					
				</div>
			</div>
		</div>

	</div>
</section>


{% endblock %}