{% extends "unction.html" %}

{% block paragraph %}

<div class="photo__title">
    Строительство Храма
</div>
<div class="content">
    <div class="text-center ">
        <img src="../static/imgs/src/build1.jpg" alt=""width="60%">
        <br><br>
        <img src="../static/imgs/src/build2.jpg" alt=""width="60%">
        <br><br>
        <img src="../static/imgs/src/build3.jpg" alt=""width="60%">
        <br><br>
    </div>
    <p>
        «Человек милосердный благотворит душе своей» (Притч. 11.17), – говорит премудрый Соломон.
        <br>
В августе 2020 года началось строительство храмового комплекса святого великомученика Георгия в Московском.
<br><br>
Храм строится исключительно на ваши пожертвования.<br>
Ваша лепта – это неугасимая лампада церковной молитвы о Вас и Ваших близких.<br>
Во всех храмах за каждым богослужением возносятся молитвы о строителях и благотворителях. Их имена - в основании будущего Дома Божьего на земле!
<br><br>
Пожертвования вы можете оставить:<br>
- в церковной лавке,<br>
- на карту Сбербанка № 4276 3800 5321 9205,<br>
- через «Сбербанк-онлайн» по номеру телефона +7 965 253-29-70,<br>
- на Яндекс. Кошелёк № 410014974517562
<br><br>
безналичным переводом по реквизитам:<br>
Наименование – Местная религиозная организация Православный приход храма святого великомученика Георгия в Московском гор.Москвы Московской епархии Русской Православной Церкви (Московский Патриархат)<br>
Банк: ПАО «Сбербанк России» г.Москва<br>
р/с № 40703810238000008896<br>
к/с 30101810400000000225<br>
БИК 044525225<br>
ОГРН 105000003965<br>
ИНН/КПП 5003088500 / 775101001<br>
ОКВЭД 91.31 (основной)<br>
ОКАТО 45297565001<br>
ОКПО 68143610
<br><br>
По всем вопросам обращаться в церковную лавку по телефону: +7 (977) 557-74-62 или к настоятелю храма.
<br><br>
Вы можете внести пожертвование на именной кирпичик в стене будущего храма. Можно будет указать имя кого-либо из ваших близких, не только о здравии, но и о упокоении тех, кого уже нет с нами здесь, на земле.
<br><br>
Храм — это лучшее наследие, которое мы можем оставить нашим детям и внукам!
        <br><br>
    </p>
</div>

{% endblock %}