{% extends "unction.html" %}

{% block paragraph %}

<div class="photo__title">
    Исповедь
</div>
<div class="content">
    <h3> Исповедь </h3>
    <p>
        Значение покаяния не в признании себя грешником – это было бы слишком просто, а в изменении образа жизни, приводящего ко греху.
        <br>
архиепископ Иоанн (Шаховской)
        <br><br>
Таинство Исповеди – это Таинство, в котором человек, честно и без утайки открывающий совершенные им грехи Богу перед лицом священника, получает от Бога через священника прощение и освобождение (по-славянски «разрешение») от власти греха.
        <br><br>
От этой власти греха нас освобождает Крещение, после которого мы можем попасть под власть греха, вернее даже в рабство, добровольно. Для того, чтобы освободиться из рабства и вернуть утраченную «свободу славы детей Божиих» (Рим., 8: 21), и существует Таинство Покаяния. Поэтому Таинство Покаяния иногда называют «обновлением благодати Крещения».
        <br><br>
Таинство Исповеди, или Покаяния, установлено Самим Христом, и Им же вручена апостолам (а ими – священникам) власть отпускать грехи: «Кому простите грехи, тому простятся; на ком оставите, на том останутся» (Ин., 20:23)
        <br><br>
Для того, чтобы правильно подготовиться к исповеди, нужно прежде всего осознать, увидеть свою грешность, заболевание грехом, но не просто признать, а искренне захотеть освободиться от греха. Святые отцы говорят даже о ненависти к своему греху как об условии Исповеди.
        <br><br>
Исповедь в молитвах при совершении этого Таинства напрямую называется лечением, а храм со священником, который Исповедь совершает – лечебницей. Соответственно, отношение к исповеди должно быть таким же, как к беседе с врачом. Не бывает «болезни вообще», человек, пришедший к врачу, всегда имеет конкретные жалобы и знает, что у него болит. Точно так же и не бывает «грешности вообще»: если человек готов к Исповеди, он знает, в чем состоят его грехи, что именно искажает в нем образ Божий и лишает богоподобия.
<br><br>
В настоящее время исповедь, как правило, происходит так. Священник обращается к Богу с особыми молитвами, прося отпустить грехи исповедующихся и вновь соединить их с Церковью (поскольку, совершая грех, человек отпадает от Церкви Божией). После чего исповедующиеся по одному подходят к аналою (особый столик), на котором лежат Крест и Евангелие и рядом с которым стоит священник, и называют свои грехи. После чего священник накрывает епитрахилью (деталь облачения) голову исповедующегося (некоторые исповедующиеся в этот момент по древней благочестивой традиции опускаются на колени) и произносит, вслух или мысленно, особую молитву, которая называется «разрешительной» (то есть освободительной).
<br><br>
В ходе исповеди священник может задать дополнительные уточняющие вопросы.
<br><br>
Готовиться к исповеди стоит заранее. Нужно честно перед собою и перед Богом признать свои грехи, если необходимо, то с помощью соответствующей литературы, помогающей подготовиться к Исповеди.
<br><br>
Хорошо записать грехи на отдельный листочек, чтобы не растеряться в сам момент Исповеди.
<br><br>
К Таинству Исповеди хорошо прибегать с определенной регулярностью, потому что она является важнейшим средством борьбы с грехами и пороками, которые по сути являются смертельным ядом для души.
<br><br>
При этом не стоит дожидаться очередного «срока», если совершен или вспомнен тяжелый грех и если совесть вас в чем-то укоряет. Лучше в таких случаях исповедаться сразу.
<br><br>
Очень важно помнить, что покаяние – это не разовое действие, а процесс перемены ума, изменения сознания – уподобление его Христу. Раскаяние – важная начальная ступень покаяния, но далеко не главное его содержание. И тем более не являются покаянием уныние, отчаяние и «самоуничижение пуще гордыни». Покаянный труд несет в себе радость обновления, освобождения от греха и возвращения к Богу, а уныние и отчаяние называются в Церкви смертными грехами.
<br><br>
««Покаяние» – это славянский перевод греческого слова «метанойя», буквально означающего «перемена ума», «перемена образа мыслей». Покаяние – не просто раскаяние. Иуда, предав Господа, впоследствии раскаялся, но покаяния не принес. Он сожалел о том, что сделал, но не нашел в себе сил ни испросить прощения у Господа, ни чем-то добрым исправить то зло, которое совершил. Он не сумел переменить свою жизнь, вступить на путь, на котором мог бы загладить прежние грехи. В этом отличие между ним и апостолом Петром: тот отрекся от Христа, но всей своей последующей жизнью, подвигом исповедничества и мученичества доказал свою любовь к Богу и тысячекратно искупил свой грех» (митр. Иларион (Алфеев)).
<br><br>
Как нельзя исповедоваться.
<br><br>
Сознательная и настоящая исповедь не допускает выразиться вроде «грешен во всем», формального подхода. Точно так же не является покаянием зачитывание списка грехов, переписанного из соответствующей литературы, без участия ума и сердца. Такие «исповеди» священник не примет. При этом надо помнить, что грехи следует исповедать насколько можно кратко, ясно и без обиняков, без описания обстоятельств и других участников, без самооправдания и тем более без перекладывания ответственности на других.
<br><br>
Также нельзя что-то утаивать и скрывать, сознательно «делить» исповедь – в одном грехе исповедоваться перед одним священником, в другом – перед другим. Исповедь совершается перед лицом Самого Бога, а священник в ней – только свидетель.
<br><br>
Если вам нужен духовный совет или беседа со священником, попросите его об этом отдельно – Исповедь беседой не является.
<br><br>
Представление о том, что якобы можно спокойно грешить, потом покаяться, и опять грешить, главное всякий раз покаяться – является тяжелым заблуждением. Обязательным условием Исповеди является твердое намерение расстаться с грехом, ненависть к греху. Бог видит сердце человека, как говорит Писание, до самой его глубины, и «перехитрить» Его нельзя. Никакое действие благодати Божией в Церкви не является «автоматическим» результатом молитв и действий священника. Это всегда свободный дар Бога, Который может и отказать в нем, видя внутреннее лукавство человека.
<br><br>
Как правило, Исповедь совершается в храме, вечером в течение вечернего богослужения и утром.
<br><br>
В особых случаях, когда необходима исповедь, но нет возможности оказаться в храме, или человек находится в смертельной опасности, Исповедь может быть совершена священником в любом месте (на дому, в больнице и т.д.)
        <br><br>
    </p>
</div>

{% endblock %}