{% extends "unction.html" %}

{% block paragraph %}

<div class="photo__title">
    Крещение
</div>
<div class="content">
    <h3> Крещение </h3>
    <p>
        <b>1. О подготовке к Крещению</b>
        <br>
   Крещение – Таинство, в котором верующий при троекратном погружении тела в воду с призыванием Бога Отца и Сына и Святого Духа умирает для жизни плотской, греховной и возрождается Духом Святым в жизнь духовную, святую. Если кто не родится от воды и Духа, не может войти в Царствие Божие (Ин.3, 5), говорит Спаситель в беседе с Никодимом.
<br>Крещение есть вступление человека в Церковь - осознанный шаг для взрослого человека, а для младенца – осознанный шаг со стороны его родителей. Для крещения необходима вера, причем не в абстрактные высшие силы, а в Бога-Троицу, в Иисуса Христа, как вторую Ипостась Святой Троицы и нашего Спасителя, в Святую Церковь, как новый богоизбранный народ. Мы основываемся здесь на словах Христа, сказанных Им Своим ученикам: «Кто будет веровать и креститься, спасен будет; а кто не будет веровать, осужден будет» (Мк.16, 16). Дети принимают крещение по вере их родителей и восприемников. Именно поэтому Крещению обязательно предшествует обязательная катехизация – цикл бесед, в ходе которого готовящийся ко крещению взрослый, а в случае крещения младенца – его родители и будущие восприемники (крестные родители) знакомятся с основами Православной веры. Перед Крещением нужно пройти огласительные беседы.
        <br>каждую субботу в 15:30;
   <br>Важно помнить, что целью предкрещальных встреч является ваше сознательное участие в Таинстве Крещения, дабы оно не воспринималось как дань народной традиции, средство от болезней и невзгод или просто как красивый обряд.
<br><br>
        <b>2. Как записаться на Крещение</b>
   <br>Записаться на Крещение и оговорить время его совершения надлежит заранее по телефону: +7 (977) 557-74-62 или за свечным ящиком в храме.
<br><br>
<b>3. О восприемниках (крестных родителях)</b>
    <br>Восприемники (крестные родители) – это православные христиане, которые обязуются принимать участие в духовном становлении своего крестника.
    <br>Восприемник должен быть православным христианином, должен стремиться жить согласно учению Церкви, регулярно приступать к Святым Таинствам Исповеди и Причастия.
    <br>Восприемниками не могут быть родители своих детей или лицо ,в будущем желающее вступить в брак с отцом (матерью) ребенка.
   <br>Восприемники по мере сил участвуют в духовном становлении своего крестника, для чего им необходимо знать учение Церкви, и показывают своей жизнью добрый пример крестнику, ежедневно о нем молятся.
<br><br>
<b>4. Что необходимо иметь с собой в день Крещения</b>
<br><br>
При крещении младенца:
<br>• Свидетельство о рождении;
<br>• Тонкую пеленку;
<br>• Полотенце;
<br>• Крестильную рубашку (можно приобрести в храме);
<br>• Нательный крест (можно приобрести в храме).
        <br><br>
При крещении ребенка от 3 до 14 лет:
<br>• Свидетельство о рождении;
<br>• Простыню;
<br>• Полотенце;
<br>• Тапочки;
<br>• Дополнительное нижнее белье;
<br>• Крестильную рубашку светлых тонов (можно приобрести в храме);
<br>• Нательный крест (можно приобрести в храме).
        <br><br>
При крещении мужчин и женщин старше 14 лет:
<br>• Паспорт;
<br>• Простыню;
<br>• Полотенце;
<br>• Тапочки;
<br>• Дополнительное нижнее белье;
<br>• Крестильную рубашку светлых тонов (можно приобрести в храме);
<br>• Нательный крест (можно приобрести в храме).
        <br><br>
    </p>
</div>

{% endblock %}