{% extends "base_generic.html" %}

{% block content %}

<section class="formation_page">
    <div class="container">
		<div class="bread_crumps">{{ bread_crumps|safe }}</div>
        <div class="photo__title">
            Образование
        </div>
        <div class="content">
        	<h3 class="title">
        		Воскресная школа
        	</h3>
        	<p>
        		В 2019 году проведена епархиальная аттестация Воскресной школы, по результатам которой ей присвоен тип Учебно-воспитательная группа и получено подтверждающее свидетельство.
                <br><br>
                В настоящее время ведется обучение по трем основным направлениям:
				<br><br>
				<b>1.</b> Основы православной веры.
				<br><br>
				<b>2.</b> Творческие занятия.
				<br><br>
				<b>3.</b> Фольклор.
				<br><br>
				В приходском доме при храмовом комплексе святого великомученика Георгия в Московском тоже наступает учебная пора! <br>
				Возобновляет свою деятельность Воскресная школа! <br>
				Идет формирование расписания дополнительных занятий по музыке и творчеству! <br>
				Начинает работать Приходская школа по программе "Русская Классическая школа" 1 и 2 класс; курсы по подготовке к школе для детей от 4-х до 6-ти лет.
⠀				<br><br>
				Программ "РУССКАЯ КЛАССИЧЕСКАЯ ШКОЛА"- образовательная система будущего, проверенная прошлым.
⠀				<br><br>
				Организатор и педагог школы по программе "Русская Классическая Школа" Николаева Татьяна Павловна и весь педагогический состав рады приветствовать вас в стенах приходского дома нашего храма!
⠀				<br><br>
				Мы обязательно будем делиться с вами актуальной информацией, фото и видео репортажами, знакомить с педагогами и успехами учеников.
				<br><br>
				В рамках курса «Основы православной веры» ведется обучение по таким направлениям как Новый и Ветхий завет, Храмоведение, Жития святых, Молитвы. Творческие занятия направлены на закрепление основной темы урока и включают в себя рисование, лепку, аппликацию, бисероплетение, рукоделие и иные формы детского творчества. Занятия сопровождаются чтением притч, духовно-нравственных рассказов и стихов для детей, а также песнопениями.
				<br><br>
				По всем вопросам по работе Воскресной школы просьба звонить по телефону: 
				<br><br>
				<b>+7(963)645-13-88</b> (Татьяна Павловна)
				<br><br>
        	</p>	
        </div>
    </div>
</section>

{% endblock %}