{% extends "base_generic.html" %}

{% block content %}

	<section class="history_page">
		<div class="container">
			<div class="bread_crumps">{{ bread_crumps|safe }}</div>
			<div class="photo__title">
				Храм в передельцах
			</div>
			<div class="content">
				<h3>
					Передельцы
				</h3>
				<div class="d-flex">
					<img src="../static/imgs/src/peredeltsy.png" alt="">
					<p>
						Погост Передельцы располагался на правом берегу реки Зименки, у ее истока, в 22 км к западу от Видного, в 3 км от Киевского шоссе. В настоящее время не существует. В  2 км  северо-западнее погоста – поселок Московский, бывшая деревня Передельцы. <br>
Владельцы: в XVI в. село Передельцы принадлежало роду Щелкановых. От И.В.Щелканова оно перешло к Троице-Сергиеву монастырю. С 1764 г. – государственное. <br>
Каменный Георгиевский храм был выстроен в Передельцах в XVI в. на средства Щелкановых. Возможно, ее возвели на средства думного дьяка Андрея Яковлевича Щелканова – известного политического деятеля  4-й четв. XVI в. <br>
Двухпрестольную трапезную к каменному  зданию  пристроили  в  1851 г. <br>
По некоторым сведениям, в 1863 г. взамен обветшавшего холодного храма соорудили новый, но в других сообщениях холодную церковь называют старой, т. е., возможно, до ХХ в. тут просуществовала постройка 4-й четв. XVI в. <br>
					</p>
				</div>
				<p>15 декабря 1898 года был утвержден проект архитектора Н.Д. Струкова на пристройку к церковной колокольне двух небольших помещений для ризницы и кладовой. <br>
В 1898 г. вокруг храма на средства старосты В.И. Розанова соорудили новую ограду. <br>
Главный престол церкви был освящен во имя Георгия Победоносца. Приделы – во имя Покрова Пресвятой Богородицы и прп.Сергия Радонежского. Кроме того, к ней был недолго приписан храм в Саларьеве.
<br> <br>
Особо почитаемой святыней церкви был Смоленский Образ Пресвятой Богородицы, стоявший в иконостасе Сергиевского  придела. <br>
В кон. XIX в. церковь обновили на средства директора Купеческого банка Н.А. Цветкова и его супруги – Л.А. Цветковой. В 1896 г. снова освятили трапезный храм, а в 1898 г. и главную церковь. В Георгиевском храме выполнили новые росписи, в теплом промыли старые, настелили новые мозаичные полы, позолотили главный  иконостас. <br>
Главный колокол церкви, весивший ок. 3302,6 кг, отлили на заводе Самгина в 1898 г. Из имевшихся до этого пяти колоколов крупнейший весил всего 415,6 кг.<br>
У стен храма, в частности, был похоронен граф Владимир Сергеевич Толстой (27.02.1888 г.).<br>
В 1889 г. в доме священника была открыта церковно-приходская школа. С 1902 г. при храме действовало приходское попечительство.<br>
Решение о закрытии церкви принято Исполкомом Мособлсовета 30 июня 1941 года – храм стал одним из последних в Московской области, закрытых советской властью в сталинские годы. За два дня до решения о его закрытии немцы вошли в Минск.<br>
Здание  не  сохранилось.<br>
Последним настоятелем храма был священномученик Иоанн (Васильев) [4 (17) мая], скончавшийся в заключении исправительно-трудовой колонии в мае 1942 года. Отец Иоанн мужественно сопротивлялся закрытию храма до своего ареста в 1937 году. После закрытия местные жители разобрали храм по кирпичам до фундамента и использовали этот стройматериал для сооружения собственных домов и подсобных помещений.<br>
На месте разрушенного храма остался некрополь, к которому стали захоранивать и тела местных жителей – так образовалось Передельцевское кладбище. В данный момент вся территория храма в захоронениях, а потому воссоздание храма на былом месте невозможно.<br>
В память о минувшем величии храма 27  июня 2010 г. был воздвигнут Памятный крест на месте алтаря Георгиевского храма, разрушенного в 50-е годы XX века. Крест не только символ покаяния, но и олицетворение надежды на строительство нового храма в городе Московский в честь славного великомученика Георгия Победоносца.<br><br>
</p>
			</div>
		</div>
	</section>

{% endblock %}