{% extends "base_generic.html" %}

{% block content %}


<section id="content">
	<div class="container">
		<div class="row d-flex justify-content-between">
			<div class="col-lg-7">
				<div class="main">
					<div class="main__building">
						<h1 class="main__building__title">
							<a href="build">Строительство Храма</a>
						</h1>
						<p>
							<img src="../static/imgs/src/build_.jpg" alt="" class="main__building__photo av leftimg" height="200">
							«Человек милосердный благотворит душе своей» (Притч. 11.17), – говорит премудрый Соломон.
							<br>
							В августе 2020 года началось строительство храмового комплекса святого великомученика Георгия в Московском.
							<br>
							Храм строится исключительно на ваши пожертвования. Ваша лепта – это неугасимая лампада церковной молитвы о Вас и Ваших близких.
							Во всех храмах за каждым богослужением возносятся молитвы о строителях и благотворителях. Их имена - в основании будущего Дома Божьего на земле!
							Вы можете внести пожертвование на именной кирпичик в стене будущего храма. Можно будет указать имя кого-либо из ваших близких, не только о здравии, но и о упокоении тех, кого уже нет с нами здесь, на земле.
							<br>
							Храм — это лучшее наследие, которое мы можем оставить нашим детям и внукам!

						</p>
					</div>
					<div class="main__news">
						<div class="main__line">
							
						</div>
						<h1 class="main__news__title">
							<a href="/news">Новости</a>
						</h1>
						<!--<div class="av">
							
						</div>-->
						<div class="new d-flex">
							<a href="/news"> <img src="{{ post.image }}" alt="Photo" class="av" height="180"> </a>
							<div class="new__text">
								<h3>
									<a href="/news">{{ post.title }}</a>
								</h3>
								<p>
									{{ text }}<a href="/news"><b>...</b></a>
								</p>
								<p class="time">
									{{ post.time }}
								</p>
							</div>
						</div>

					</div>
					<div class="main__origin">
						<div class="main__line">
							
						</div>
						<h1 class="main__origin__title">
							<a href="/formation">Образование</a>
						</h1>
						<p>
							<br>
							С открытием временного храма святителя Спиридона, епископа Тримифунтского при храмовом комплексе святого великомученика Георгия в Московском г. Москвы 21 октября 2017 года начала действовать приходская воскресная школа для детей. 
							<br><br>
							<b>Основными целями и задачами</b> воскресной школы являются:
							<br>-воспитание детей на христианских принципах;
							<br>-обучение основам христианского вероучения;
							<br>-привитие навыков церковной жизни;
							<br>-сплочение детей прихода между собой, обучение их взаимовыручке, взаимопониманию;
							<br>-развитие творческих способностей.
						</p>
					</div>
				</div>
				<div class="calendar">
					<h1>Православный календарь</h1>
					<p>
						{% for event in events %}
						<br>
							{{ event.date }}
							<br>
							{{ event.events }}
						<br><br>
						{% endfor %}
					</p>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="sidebar">
					<div class="sidebar__trebs">
						<a href="/treby">
							<h1>Требы</h1>
							<div class="text-center">
								<img src="../static/imgs/src/trebs.jpg" height="200" class="av" alt="">
							</div>
							<p><br>Тре́бы – священнодействия и молитвословия, совершаемые священником по нужде отдельных лиц. К ним относятся таинства (крещение, исповедь, причащение на дому, венчание), церковные обряды (отпевание, погребение, освящение квартиры и пр.) и другие молитвенные чины и последования, имеющие частный характер.</p>
						</a>
					</div>
					<div class="sidebar__prays">
						<a href="/schedule">
							<h1>Богослужения</h1>
						{% for day in schedule %}
							<h4>
								<u>{{ day.date }}</u>
								<br>
								<br>
								<u>{{ day.day_name }}</u>
								<br>
								<br>
							</h4>
						{% endfor %}
						</a>
					</div>
					<div class="sidebar__shrines">
						<a href="/shrines">
							<h1>Святыни</h1>
							<img src="../static/imgs/src/shrines.jpg" alt="" height="200" class="av">
							<h4>
								<br>
								<u>Ковчежец с частицей мощей святого великомученика Георгия</u>
								<br>
								<br>
								<u>Частичка башмачка святителя Спиридона Тримифунтского</u>
								<br>
								<br>
								<u>Частица епитрахили преподобного Серафима Вырицкого</u>
							</h4>
						</a>
					</div>
				</div>
				<div class="nameday">
					<h1>Именины сегодня</h1>
					<p>{{ name_days }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="gallery">
	<div class="container">
		<h1 class="gallery">
			Фотогалерея
		</h1>
		<div class="slider">
			<div class="owl-carousel">
				{% for image in gallery %}
					<div class="item">
						<img src="../static/imgs/gallery/{{image}}" height="100%" alt="">
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>



{% endblock %}