{% extends "base_generic.html" %}

{% block content %}


<section class="content">
	<div class="container">
		<div class="row d-flex justify-content-between">
			<div class="col-lg-7">
				<div class="main">
					<div class="main__building">
						<h1 class="main__building__title">
							Строительство Храма
						</h1>
						<div class="av">
							
						</div>
					</div>
					<div class="main__news">
						<div class="main__line">
							
						</div>
						<h1 class="main__news__title">
							Новости
						</h1>
						<div class="av">
							
						</div>

					</div>
					<div class="main__origin">
						<div class="main__line">
							
						</div>
						<h1 class="main__origin__title">
							Образование
						</h1>
						<div class="av">
							
						</div>
					</div>
				</div>
				<div class="calendar">
					<h1>Православный календарь</h1>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="sidebar">
					<div class="sidebar__trebs">
						<a href="/treby">
							<h1>Требы</h1>
						</a>
					</div>
					<div class="sidebar__prays">
						<h1>Богослужения</h1>
					</div>
					<div class="sidebar__shrines">
						<h1>Святыни</h1>
					</div>
				</div>
				<div class="nameday">
					<h1>Именины</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="gallery">
	<div class="container">
		<h1 class="gallery">
			Фотогалерея
		</h1>
		<div class="slider">
			<div class="owl-carousel">
				<div class="item">

				</div>
				<div class="item">
					
				</div>
				<div class="item">
					
				</div>
				<div class="item">
					
				</div>
				<div class="item">
					
				</div>
				<div class="item">
					
				</div>
				<div class="item">
					
				</div>
				<div class="item">
					
				</div>
				<div class="item">
					
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock %}