{% extends "base_generic.html" %}

{% block content %}


<section class="content">
	<div class="container">
		<div class="row d-flex justify-content-between">
			<div class="col-lg-7">
				<div class="main">
					<div class="main__building">
						<h1 class="main__building__title">
							Строительство Храма
						</h1>
						<div class="main__av">
							gfdkjgkf
						</div>
					</div>
					<div class="main__news">
						<h1 class="main__news__title">
							Новости
						</h1>
						<div class="main__av">
							gfjgkd
						</div>
					</div>
					<div class="main__origin">
						<h1 class="main__origin__title">
							Образование
						</h1>
						<div class="main__av">
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="sidebar">

				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}