{% extends "unction.html" %}

{% block paragraph %}

<div class="photo__title">
    Венчание
</div>
<div class="content">
    <h3> Венчание </h3>
    <p>
Пара, желающая обвенчаться, накануне Таинства, нужно исповедоваться и причаститься. Некоторые пары приступают к Таинствам Исповеди и Евхаристии (Причащению) в самый день Таинства Венчания.
        <br><br>Записаться на таинство венчания вы можете по телефону:
        <br><br>+7 (977) 557-74-62
        <br><br>Что такое христианский брак?
<br><br>Брак мужчины и женщины – это союз, заключенный по образу единства
<br><br>Таинство Венчания – это не красивый обычай или украшение гражданского договора. Это свидетельство перед Богом и людьми о своей верности и любви, оглашение во всеуслышание, что два человека отныне будут нести тяготы друг друга и этим исполнять Закон Христов (см. Послание апостола Павла к галатам, гл.6, ст.2).
<br><br>В христианском браке, по слову Библии, мужчина и женщина становятся одним целым: «Будут два одна плоть» (книга Бытия, гл.2, ст.24). Они теперь становятся как бы одним организмом, с одной общей жизнью. Жена сначала думает о муже, а потом о себе; муж сначала заботится о жене, а потом о себе.
<br><br>Брак не становится христианским через внешнее соблюдение правил и законов. Таковым он может стать только тогда, когда муж и жена соединены не только взаимной любовью, но и жизнью во Христе.
<br><br>Таинство Венчания невозможно при:
        <br>• кровном или духовном родстве (не может жениться на женщине крестный отец ее ребенка, а также на мужчине крестная мать его ребенка) жениха и невесты;
        <br>• исповедании одним из супругов нехристианской религии;
        <br>• вступлении в брак более чем третий раз.
<br><br>Также препятствием к совершению Таинства Венчания являются:
        <br>• отрицание Православия (один из супругов называет себя атеистом);
        <br>• пребывание одного из желающих обвенчаться в браке с другим человеком;
        <br>• обет безбрачия, данный ранее при монашеском постриге одним из желающих обвенчаться.
<br><br>Таинство Венчания не совершается в следующие дни:
        <br>• в течение всех четырех постов (Великим, Петровским, Успенским, Рождественским),
        <br>• в Сырную седмицу (на Масленицу),
        <br>• в Светлую седмицу (первая неделя после праздника Пасхи),
        <br>• в период от Рождества Христова до Богоявления (Святки).
        <br>• в субботу и накануне двунадесятых, великих и храмовых праздников;
        <br>• по вторникам и четвергам (накануне постных дней – среды и пятницы);
        <br>• накануне и в дни Усекновения главы Иоанна Предтечи (10 и 11 сентября).
<br><br>Запись желающих венчаться осуществляется в храме, за свечным ящиком. В день Венчания необходимо принести с собой:
        <br>• паспорта венчающихся;
        <br>• свидетельство о регистрации брака;
        <br>• кольца, иконы Спасителя и Божией Матери, рушник (расшитое декоративное полотенце из домотканого холста), венчальные свечи.
        <br><br>
    </p>
</div>

{% endblock %}