{% extends "base_generic.html" %}

{% block content %}

<section class="ministry_page">
	<div class="container">
		<div class="photo__title">
			Духовенство
		</div>
		<div class="content">
			<h3>
				Настоятели храма
			</h3>
			<div class="abbot d-flex">
				<img src="../static/imgs/src/abbot1.png" alt="">
				<p>
					<b>Настоятель храма:</b> священник Вадим Попов <br>
Духовное образование: Калужская духовная семинария — 2010 г. <br>
Московская духовная академия — 2012 г. (магистр богословия) <br>
<b>День тезоименитства:</b> 22 апреля <br>
<b>День рождения:</b> 25 июля <br>
<b>18.12.2014 г.</b> — рукоположен в сан диакона епископом Воскресенским Саввой в храме прп. Саввы Освященного в Люблине г. Москвы <br>
<b>21.05.2015 г.</b> – рукоположен в сан иерея епископом Воскресенским Саввой в Покровском храме Новоспасского ставропигиального мужского монастыря г. Москвы <br>

				</p>
			</div>
			<div class="line"></div>
			<div class="abbot d-flex">
				<img src="../static/imgs/src/abbot2.png" alt="">
				<p>
					Диакон: Михаил Русских <br>
<b>Духовное образование:</b> Московская духовная семинария — 2010 г. <br>
<b>День тезоименитства:</b> 21 ноября <br>
<b>День рождения:</b> 17 ноября <br>
<b>16.04.2016 г.</b> — рукоположен в сан диакона епископом Воскресенским Саввой в Богоявленском Кафедральном Соборе в Елохове г. Москвы <br>
<b>Богослужебные награды:</b> <br>
2016 г. – набедренник и камилавка <br>
<b>Церковные награды:</b> <br>
2008 г. – памятная медаль «1020-летия Крещения Руси»;
2017 г. – Юбилейная медаль Русской Православной Церкви «В память 100-летия восстановления Патриаршества в Русской Православной Церкви»
				</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}