{% extends "base_generic.html" %}

{% block content %}

<section class="sacraments_page">
    <div class="container">
        <div class="content">
            <div class="shrine">
				<h3 class="title">
                    <a href="communion">Причастие</a>
				</h3>
				<p>
                      Евхаристия — главное Таинство Церкви, установленное Господом Иисусом Христом накануне Его спасительных страданий, крестной смерти и воскресения. Участие в Евхаристии и причащение Телу и Крови Христовым является заповедью Спасителя, через Своих учеников сказавшего всем христианам: «Приимите, ядите: сие есть Тело Мое» и «пейте из нее все, ибо сие есть Кровь Моя Нового Завета» (Мф. 26, 26-28). Сама Церковь есть Тело Христово, а потому Таинство Тела и Крови Христа видимым образом являет мистическую природу Церкви, созидая церковную общину. <br>
Духовная жизнь православного христианина немыслима без причащения Святых Таин. Приобщаясь Святых Даров, верующие освящаются силой Святого Духа и соединяются со Христом Спасителем и друг с другом, составляя единое Тело Христово.
Таинство Евхаристии требует особого к нему приготовления. В Церкви само время — будь то время человеческой жизни или история всего человечества — есть ожидание и приготовление для встречи со Христом, а весь ритм богослужебной жизни — ожидание и приготовление к Божественной литургии и соответственно к причащению, ради которого она и совершается.
				</p>
				<div class="line">

				</div>
			</div>
            <div class="shrine">
				<h3 class="title">
                    <a href="unction">Соборование</a>
				</h3>
				<p>
				«Таинство Елеосвящения – духовный мед, живоносное питие. Какое богатство упования! Какие молитвы! Экстракт всего Евангелия» <br>
(св. прав. Иоанн Кронштадтский) <br>
Елеосвящение – это Таинство, в котором при помазании тела елеем призывается на больного благодать Божия, исцеляющая немощи душевные и телесные.<br>
Второе название Таинства Елеосвящения – Соборование, потому что по древнему обычаю оно совершается собором семи священников, которых апостол Иаков заповедал собирать для совершения Таинства. Но в случае необходимости Таинство может быть совершено и одним священником.<br>
Как и все Таинства Православной Церкви, Елеосвящение было установлено Самим Христом Богом. Об этом свидетельствует святой евангелист Матфей, говоря о том, как Христос послал апостолов на проповедь: И призвав двенадцать учеников Своих, Он дал им власть над нечистыми духами, чтобы изгонять их и врачевать всякую болезнь и всякую немощь (Мф. 10; 1). При этом апостолам было дано прямое указание: больных исцеляйте, прокаженных очищайте (Мф.10; 8)
				</p>
			</div>
        </div>
    </div>
</section>

{% endblock %}