{% extends "base_generic.html" %}

{% block content %}

<section class="sacraments_page">
    <div class="container">
		<div class="bread_crumps">{{ bread_crumps|safe }}</div>
		<div class="photo__title">Таинства</div>
        <div class="content">
			<div class="shrine">
				<h3 class="title">
                    <a href="epiphany" ><u>Крещение</u></a>
				</h3>
				<p>
					Крещение – Таинство, в котором верующий при троекратном погружении тела в воду с призыванием Бога Отца и Сына и Святого Духа умирает для жизни плотской, греховной и возрождается Духом Святым в жизнь духовную, святую. Если кто не родится от воды и Духа, не может войти в Царствие Божие (Ин.3, 5), говорит Спаситель в беседе с Никодимом.
<br><br>Крещение есть вступление человека в Церковь - осознанный шаг для взрослого человека, а для младенца – осознанный шаг со стороны его родителей. Для крещения необходима вера, причем не в абстрактные высшие силы, а в Бога-Троицу, в Иисуса Христа, как вторую Ипостась Святой Троицы и нашего Спасителя, в Святую Церковь, как новый богоизбранный народ. Мы основываемся здесь на словах Христа, сказанных Им Своим ученикам: «Кто будет веровать и креститься, спасен будет; а кто не будет веровать, осужден будет» (Мк.16, 16). Дети принимают крещение по вере их родителей и восприемников. Именно поэтому Крещению обязательно предшествует обязательная катехизация – цикл бесед, в ходе которого готовящийся ко крещению взрослый, а в случае крещения младенца – его родители и будущие восприемники (крестные родители) знакомятся с основами Православной веры. Перед Крещением нужно пройти огласительные беседы.
				</p>
				<div class="line">

				</div>
			</div>
			<div class="shrine">
				<h3 class="title">
                    <a href="confession"><u>Исповедь</u></a>
				</h3>
				<p>
Значение покаяния не в признании себя грешником – это было бы слишком просто, а в изменении образа жизни, приводящего ко греху.
        <br>
архиепископ Иоанн (Шаховской)
        <br><br>
Таинство Исповеди – это Таинство, в котором человек, честно и без утайки открывающий совершенные им грехи Богу перед лицом священника, получает от Бога через священника прощение и освобождение (по-славянски «разрешение») от власти греха.
        <br><br>
От этой власти греха нас освобождает Крещение, после которого мы можем попасть под власть греха, вернее даже в рабство, добровольно. Для того, чтобы освободиться из рабства и вернуть утраченную «свободу славы детей Божиих» (Рим., 8: 21), и существует Таинство Покаяния. Поэтому Таинство Покаяния иногда называют «обновлением благодати Крещения».
        <br><br>
Таинство Исповеди, или Покаяния, установлено Самим Христом, и Им же вручена апостолам (а ими – священникам) власть отпускать грехи: «Кому простите грехи, тому простятся; на ком оставите, на том останутся» (Ин., 20:23)
        <br><br>
				</p>
				<div class="line">

				</div>
			</div>
            <div class="shrine">
				<h3 class="title">
                    <a href="communion" ><u>Причастие</u></a>
				</h3>
				<p>
                      Евхаристия — главное Таинство Церкви, установленное Господом Иисусом Христом накануне Его спасительных страданий, крестной смерти и воскресения. Участие в Евхаристии и причащение Телу и Крови Христовым является заповедью Спасителя, через Своих учеников сказавшего всем христианам: «Приимите, ядите: сие есть Тело Мое» и «пейте из нее все, ибо сие есть Кровь Моя Нового Завета» (Мф. 26, 26-28). Сама Церковь есть Тело Христово, а потому Таинство Тела и Крови Христа видимым образом являет мистическую природу Церкви, созидая церковную общину. <br>
Духовная жизнь православного христианина немыслима без причащения Святых Таин. Приобщаясь Святых Даров, верующие освящаются силой Святого Духа и соединяются со Христом Спасителем и друг с другом, составляя единое Тело Христово.
Таинство Евхаристии требует особого к нему приготовления. В Церкви само время — будь то время человеческой жизни или история всего человечества — есть ожидание и приготовление для встречи со Христом, а весь ритм богослужебной жизни — ожидание и приготовление к Божественной литургии и соответственно к причащению, ради которого она и совершается.
				</p>
				<div class="line">

				</div>
			</div>
			<div class="shrine">
				<h3 class="title">
                    <a href="marying"><u>Венчание</u></a>
				</h3>
				<p>
						Пара, желающая обвенчаться, накануне Таинства, нужно исповедоваться и причаститься. Некоторые пары приступают к Таинствам Исповеди и Евхаристии (Причащению) в самый день Таинства Венчания.
        <br><br>Записаться на таинство венчания вы можете по телефону:
        <br>+7 (977) 557-74-62
        <br>Что такое христианский брак?
<br>Брак мужчины и женщины – это союз, заключенный по образу единства
<br>Таинство Венчания – это не красивый обычай или украшение гражданского договора. Это свидетельство перед Богом и людьми о своей верности и любви, оглашение во всеуслышание, что два человека отныне будут нести тяготы друг друга и этим исполнять Закон Христов (см. Послание апостола Павла к галатам, гл.6, ст.2).

				</p>
				<div class="line">

				</div>
			</div>
            <div class="shrine">
				<h3 class="title">
                    <a href="unction"><u>Соборование</u></a>
				</h3>
				<p>
				«Таинство Елеосвящения – духовный мед, живоносное питие. Какое богатство упования! Какие молитвы! Экстракт всего Евангелия» <br>
(св. прав. Иоанн Кронштадтский) <br>
Елеосвящение – это Таинство, в котором при помазании тела елеем призывается на больного благодать Божия, исцеляющая немощи душевные и телесные.<br>
Второе название Таинства Елеосвящения – Соборование, потому что по древнему обычаю оно совершается собором семи священников, которых апостол Иаков заповедал собирать для совершения Таинства. Но в случае необходимости Таинство может быть совершено и одним священником.<br>
Как и все Таинства Православной Церкви, Елеосвящение было установлено Самим Христом Богом. Об этом свидетельствует святой евангелист Матфей, говоря о том, как Христос послал апостолов на проповедь: И призвав двенадцать учеников Своих, Он дал им власть над нечистыми духами, чтобы изгонять их и врачевать всякую болезнь и всякую немощь (Мф. 10; 1). При этом апостолам было дано прямое указание: больных исцеляйте, прокаженных очищайте (Мф.10; 8)
				</p>
			</div>
        </div>
    </div>
</section>

{% endblock %}