{% extends "base_generic.html" %}

{% block content %}

<section class="unction_page">
	<div class="container">
		{% block paragraph %}
		<div class="photo__title">
			Соборование
		</div>
		<div class="content">
			<h3>
				Соборование
			</h3>
			<p>
				«Таинство Елеосвящения – духовный мед, живоносное питие. Какое богатство упования! Какие молитвы! Экстракт всего Евангелия» <br>
(св. прав. Иоанн Кронштадтский) <br>
Елеосвящение – это Таинство, в котором при помазании тела елеем призывается на больного благодать Божия, исцеляющая немощи душевные и телесные.<br>
Второе название Таинства Елеосвящения – Соборование, потому что по древнему обычаю оно совершается собором семи священников, которых апостол Иаков заповедал собирать для совершения Таинства. Но в случае необходимости Таинство может быть совершено и одним священником.<br>
Как и все Таинства Православной Церкви, Елеосвящение было установлено Самим Христом Богом. Об этом свидетельствует святой евангелист Матфей, говоря о том, как Христос послал апостолов на проповедь: И призвав двенадцать учеников Своих, Он дал им власть над нечистыми духами, чтобы изгонять их и врачевать всякую болезнь и всякую немощь (Мф. 10; 1). При этом апостолам было дано прямое указание: больных исцеляйте, прокаженных очищайте (Мф.10; 8).<br>
Чуть позже стало оформляться чинопоследование Таинства Елеосвящения, более или менее развернутую первоначальную схему которого дает в своем послании апостол Иаков: Болен ли кто из вас, пусть призовет пресвитеров Церкви, и пусть помолятся над ним, помазав его елеем во имя Господне. И молитва веры исцелит болящего, и восставит его Господь; и если он соделал грехи, простятся ему (Иак. 5; 14, 15)<br>
Нельзя утверждать безусловно, что все без исключения болезни являются как непосредственное следствие греха; бывают болезни, посланные по Промыслу Божию с целью испытания или усовершенствования веры и надежды на Бога, усовершенствования в благочестии и добродетельной жизни и так далее. Однако же большая часть болезней признается в христианстве последствием греха, как это мы видим из многих мест Евангелия (Мф. 9, 2; Ин. 5, 14).<br>
Мысль об этой связи греха и болезни проходит явно в православном Таинстве Елеосвящения. В чине Елеосвящения читаются молитвы как об исцелении болящего, так и об избавлении от грехов, «от страстей, от скверны плоти и духа и всякого зла».<br>
Совершаемое в этом Таинстве исцеление человека не ограничивается восстановлением его физического здоровья, но и способствует изменению его мироощущения и отношения к болезням и страданиям. Цель и содержание Соборования – не только в обретении здоровья, но и в приобщении к праведности и миру и радости во Святом Духе (См.: Рим. 14; 17).<br>
К Таинству Соборования могут приступать все православные христиане, достигшие семи лет. При этом они не обязательно должны быть подвержены телесным или душевным болезням. Ведь такое духовное состояние, как уныние, скорбь или отчаяние, может стать следствием нераскаянных грехов, не осознаваемых самим человеком. Поэтому Соборование может совершаться и над физически здоровыми, но подверженными таким состояниям людьми. Таким образом, при определенных обстоятельствах к Таинству Елеосвящения рекомендуется приступать всем христианам.<br>
При этом надо помнить, что здоровым участвовать в Таинстве Соборования следует не чаще одного раза в год. «В отсутствие появления или обострения тяжелых заболеваний и травм участие в Таинстве более одного раза в год свидетельствует о неверном его понимании», – постановил Священный Синод Русской Православной Церкви.<br>
В духовном смысле Елеосвящение тесно связано с покаянием. Это не значит, что покаяние есть само по себе недостаточное Таинство, но только больной по немощи не может исполнить все условия истинного покаяния. При таинстве же Елеосвящения за изнемогающего больного предстоит перед Господом целый собор Его служителей и, молитвою веры от лица всей Церкви, умоляет Бога даровать вместе с телесным здравием отпущение прегрешений. Согласно церковному преданию, во время Таинства Елеосвящения прощаются все забытые грехи. Но следует подчеркнуть, что прощаются именно забытые грехи, то есть те, которые человек по-настоящему забыл, а не утаил по своему лукавству или поленился исповедовать.<br>
Также надо твердо помнить, что исцеление – это дар Божий, который нельзя «вытребовать». Он дается по любви, а не как автоматический результат каких-либо действий. Поэтому участие в Таинстве Соборования должно быть осознанным и искренним, основанным на вере в любовь Божию и на личном покаянии.<br>
К суевериям, связанным с Елеосвящением, относятся фантазии, которые, по слову апостола Павла, нельзя принимать ни в коем случае: Негодных бабьих басен отвращайся (1 Тим. 4; 7). Это «мнения», что выздоровевшему после Елеосвящения якобы никогда больше нельзя употреблять мясную пищу, что надо поститься, кроме среды и пятницы, еще и в понедельник, что он не может иметь супружеских сношений, не должен ходить в баню и т.п. Эти баснословия подрывают веру в благодатную силу Таинства и разрушают духовную жизнь принявшего эти выдумки человека. Кроме того, они вносят соблазн в умы «внешних», не принадлежащих к Церкви, но сочувствующих ей людей.<br>
Надо отметить еще и то, что Елеосвящение, как духовное лекарство, не устраняет сил и законов физической природы. Оно, оказывая прибегающему к нему человеку благодатную помощь, вовсе не отменяет употребления лекарственных средств, данных Господом для исцеления болезней. Поэтому к «благочестивому» совету «не принимать лекарства» после совершенного над больным Таинства, прислушиваться не стоит.<br>
Совершается Таинство Елеосвящения в православных храмах, а при необходимости – в доме больного или в помещении больницы. Временем его совершения может быть любой день церковного года и всякое время дня и ночи. В случае смертельной опасности для больного Таинство должно совершаться священником незамедлительно.<br>
Общее Соборование, как правило, совершается на Крестопоклонной или на Страстной седмице Великого Поста и <b>накануне Великого Четверга или Великой Субботы. Таинство совершается в храме.</b> <br>
Таинство <b>не совершается</b><br>
1) над больными, находящимися в бессознательном состоянии;
2) над буйными психическими больными;
3) священнику запрещается совершать Елеосвящение над самим собой.
Каких-либо особых дисциплинарных требований и поста перед совершением Соборования нет, но рекомендуется прежде Соборования исповедоваться. <br><br>
			</p>
		</div>
		{% endblock %}
	</div>
</section>

{% endblock %}